// fg white
@bg-other1: #004c55;
@bg-other2: #005b66;
@bg-other3: #006b77;
@bg-other4: #007a88;
@bg-other5: #008999;
@bg-other6: #0099ab;
@bg-other7: #00a8bc;
// fg black
@bg-other8: #00b7cd;
@bg-other9: #00c6de;
@bg-other10: transparent;

@bg-security: @bg-other10;
.clear {
  clear: both;
  .clearfix;
}
.gclear {
  clear: @gfloat; }


/*
  .row:after {
    display: initial;
    clear: none;
  }
*/

table {
  .table-condensed;
  width: auto;
  td, th {
    vertical-align: top;
  }
}
.table ul {
  list-style: none;
  margin: 0; padding: 0;
}

  .bordertest {
    border-image: url(https://32c3.d5.notomorrow.de/congress/2015/wiki/skins/mediawiki-bootstrap/css/..//assets/ramen.png) 
      49% 50% 50% 50% fill;
    border-width: 20px;
    border-image-width: auto;
  }
  .bordertest2 {
    border-image: url(https://32c3.d5.notomorrow.de/congress/2015/wiki/skins/mediawiki-bootstrap/css/..//assets/ramen.png) 
      49% 50% 50% 50% fill;
    border-image-width: auto;
    border-width: 20px;
  }

article#content {
  padding: 0 15px;

  .mp-box {
    .bordertest;
    padding: 0 0 20px;
  }

  .page-header {
    .bordertest2;
  }

  .pagestart {
    padding: (@line-height-computed ) 1.5em;
    margin-right: -15px;margin-left: -15px;
  background: @bg url("@{skin-path}/assets/32C3_bottle_1.png") no-repeat top center;
  background-size:cover;
  }
  #mw-content-text {
    padding: 14pt 1.5em;
    //.pagebody;
  }
  .mw-search-formheader {
    .bwell;
  }
  footer {
    padding: 14pt 1.5em;
    margin-right: -15px;margin-left: -15px;
    margin-top: 0; margin-bottom: 0;
    //.pagebody;
  }

}
  footer img {
    .opacity( .8 );
  }
  .pageend {
    margin-right: -15px;margin-left: -15px;
    padding: (@line-height-computed ) 1.5em;
  }

body {                                                                                                                                           
  width: 95%; height: 100%;
  background:
    url("@{skin-path}/assets/32C3_bottles_2.png") no-repeat rbottom right,
    url("@{skin-path}/assets/32C3_bottle_1.png") no-repeat 40px center
    @bg;
  background-size: contain;

/*
*/
//  background: 
//	url("@{skin-path}/assets/background-image.png") no-repeat center center;
//	//url("@{skin-path}/assets/background.png");
//  background-attachment: fixed;
//  background-color: #000;
//  @media (max-width: @screen-sm-max) {
//    background: 
//	url("@{skin-path}/assets/background-image.jpg") no-repeat 0 0,
//	url("@{skin-path}/assets/background.png");
//  }
//  @media (min-width: @screen-lg-min) {
//    background: 
//	url("@{skin-path}/assets/background-image.jpg") no-repeat 0 0,
//	url("@{skin-path}/assets/background.png");
//    background-attachment: fixed;
//    background-color: #000;
//  }
}   
.navbar .logo {
/*
    position: absolute;
    background: #008080;

    background:url("@{skin-path}/assets/logo.png") no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
*/


}
.navbar .brand {
    width: 320px;
    float: left;
    height: 215px;
}   
nav {
  //font-family: @font-family-specialthin;
  font-size: 14pt;
  li > a {
    color: white;
    padding: 7px 12px;
  }
  .nav-topbar-collapse {
  }
}
#page nav {
  margin-left: 320px;
}

@media (min-width: @screen-lg-min) {
  #page {
    font-size: 120%;
  }
  nav {
    font-size: 20pt;
  }
}


.navbar-tools {
  font-size: 10pt;
  .btn-info {
    opacity: .8;
    height: 2.2em;
  }
  ul.btn-group {
    list-style: none;
    margin: 0; padding: 0;
    ul { list-style: none; }
    li { float: left; }
    ul li {  float: none; }
    .icon-white { margin: 0 3px; }
  }
  #usertools a.btn {
    margin-left: 1em;
    border-right: 1px inset rgba( 255, 255, 255, .6 );
  }
  #usertools button.btn {
    border-left: none;
  }
  #search {
    margin: .2em 0 0 0;
    padding-top: 3px;
    top: -3px;
    padding-bottom: 1px;

    background: transparent;
    border: 1px solid white;
    border-radius: 4px;

    opacity: .8;
      font-size: 10pt;
    form {
      float: left;
    }

    label {
      float: right;
      margin: 4px 12px 0 -26px;
    }
    input {
      float: right;
      width: 175px;
      height: 26px;
      padding: 0 26px 0 12px;
      margin-top: -3px;
      font-size: 10pt;
      background: none;
      border: none;
      line-height: 34px;
    }
  }
}
html > body.mediawiki > .suggestions {
  .dropdown-menu;
  margin-top: 7px;
  .suggestions-results {
    float: left;
    border: none;
  }
  .suggestions-special {
    float: left;
    border: none;
  }
  .suggestions-result-current {
    border: none;
    .special-label,
    .special-query {
    }
  }
}

.page-header {
  padding-bottom: 0;
  margin-bottom: 0;
}
.page-header h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}
#page {
  padding-bottom: 15em;
}


#toc {
  .pull-right;
}
#toctitle {
  margin: 1em 0;
}
#toc h2 {
  font-weight: normal;
  font-size: @font-size-large;
  margin: 0;
} 
#content #toc ul {
  margin-left: 1em;
  list-style: none;
  padding-left: 0;
}
.toctoggle {
  float: right;
  margin: -18px 0 0 150px;

}
.tocnumber:after {
  content: ".";
}

.editsection {
  float: right;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10pt;
}


#content table.wikitable,
#content table.wikitable  > * > tr > th {
  background-color: transparent;
  color: @fg-color;
}
.wikitable {
  .table;
  width: auto;
  td a.external {

  //  word-break: break-all;
  //  word-wrap:break-word;
  }
}
.nbox {
  box-shadow: rgba(100, 100, 100, 0.298039) 0px 2px 6px 0px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
  border: 1px solid #007280; 
}
.nwell {
  .well;
  opacity: .8;
}
.bwell {
  .well;
  padding: 0 0;  
}
.iwell {
  .nwell;
  .jumbotron;
}
.infobox {
  .nwell;
  opacity: .8;
  padding: 0 1em;  
  margin: 0 0 0 .5em;  
  margin-bottom: 1em;
  table {
    font-size: .8em;
//    table-layout: fixed;
  }
 // td a {
 //   word-break: break-all;
 //   word-wrap:break-word;
 // }
  tr {
    border-bottom: 1px dotted rgba(21, 136, 149, 0.2);
  }
  tr:last-child {
    border-bottom: none;
  }
  dt, dd {
    line-height: 20px; 
    margin: 0 .2em 0 .4em;
  }
  dt {
    float: left;
    clear: left;
    margin: 0 .2em 0 0;
    padding: 0 .2em;
  }
  dt:after { content: ':'; }
}
.semantic-list {
  //.nwell;
  padding: 1em;  
  margin: 0;  
  float: left;
  table {
    //.table-striped;
  }
}
#content .mp-box {
  .nwell;
}

/* jquery calendar fix
*/
.container.fc {
    width: 100%;
    margin:0 ; padding: 0;
}


.cal-filter-links {
  a[title="Calendar:Art & Beauty"] { background-color:#ff00ff; } 
  a[title="Calendar:CCC"] { background-color:@bg-other9; } 
  a[title="Calendar:Entertainment"] { background-color:#ccc; } 
  a[title~="Calendar:Ethics,"] { background-color:#00fc0d; } 
  a[title="Calendar:Hardware & Making"] { background-color:#ddff00; } 
  a[title="Calendar:Other"] { background-color:@bg-other7; } 
  a[title="Calendar:Science & Engineering"] { background-color:#ff8000; } 
  a[title="Calendar:Security & Safety"] { background-color:#00fbff; } 
  a[title="Calendar:Session"] { background-color:@bg-other8; } 

  a[title="Room:Anti Error Lounge"] { background-color:#900; } 
  a[title="Room:Lounge"] { background-color:#090; } 
  a[title="Room:Sendezentrum"] { background-color:#009; } 
/*
Security #5057af
Politics #b550bd
Science #45b9b3
Hardware #a8563f
Art #b99745
Failosophy #c0ba59
CCC #45b964
Entertainment #45b964 (same as CCC)
*/
}

nav {
  a[title="Static:Assemblies"] { background-image:  url("@{skin-path}/assets/32C3_signs/hackcenter.png") }
}

.container.fc table {
  //.table-striped;
}

@import "fc.less";

