  /* imports */
    @import "variables.less";
    @import "mixins.less";
    
    // Reset
    @import "normalize.less";
    @import "print.less";
    
    // Core CSS
    @import "scaffolding.less";
    @import "type.less";
    @import "code.less";
    @import "grid.less";
    @import "tables.less";
    @import "forms.less";
    @import "buttons.less";
    
    // Components
    @import "component-animations.less";
    @import "glyphicons.less";
    @import "dropdowns.less";
    @import "button-groups.less";
    @import "input-groups.less";
    @import "navs.less";
    @import "navbar.less";
    @import "breadcrumbs.less";
    @import "pagination.less";
    @import "pager.less";
    @import "labels.less";
    @import "badges.less";
    @import "jumbotron.less";
    @import "thumbnails.less";
    @import "alerts.less";
    @import "progress-bars.less";
    @import "media.less";
    @import "list-group.less";
    @import "panels.less";
    @import "wells.less";
    @import "close.less";
    
    // Components w/ JavaScript
    //@import "modals.less";
    //@import "tooltip.less";
    //@import "popovers.less";
    //@import "carousel.less";
    
    // Utility classes
    @import "utilities.less";
    @import "responsive-utilities.less";

  /* vars */
    @well-bg: rgba( 255,255,255,.85);
    @skin-path:                 "../";

    @col-count: 8;
    @base-height: 20px;
    @full-width: 1800px;
    @base-margin: 5px;
    @base-padding: 5px;
    @base-rightmargin: 7.5px;
    @base-width: (( @full-width - 50px - @col-count ) / @col-count ) - 18px;
    @td-height: ( @base-height - @base-margin );

    @track1: @bg-other1;
    @track2: #ff00ff;
    @track3: #0011ff;
    @track4: #ffffff;
    @track5: #00fc0d;
    @track6: #ddff00;
    @track7: #ff0000;
    @track8: #ff8000;
    @track9: #00fbff;

  /* 30c3 */
    @import "30c3.less";
    #colorkeys {
      .track-default {
        background: @track1;
      }
      .track-art-beauty {
        background-color: green;
      }
      .track-ccc {
        background-color: @track3;
      }
      .track-entertainment {
        background-color: @track4;
      }
      .track-ethics-society-politics {
        background-color: @track5;
      }
      .track-hardware-making {
        background-color: @track6;
      }
      .track-other {
        background-color: @track7;
      }
      .track-science-engineering {
        background-color: @track8;
      }
      .track-security-safety {
        background-color: @track9;
      }
    }

  /* foo */
    table {
      .table-condensed;
      width: auto; }
    #header { display: none; }
    #wrapper {
      .container-fixed( );
    }
    #horizontal-navigation {
      z-index: 1000;
      position: fixed;
      .navbar-default;
      ul { 
        list-style: none;
      }
      ul li {
        margin: 0 1em;
        display: inline;
        a {
          font-family: @font-family-specialthin;
          font-size: 14pt;
          color: #fff;
          background-color: #007280;
          br { display: none; } 
          .small-font {
            font-size: 10pt;
            color: rgba( 255,255,255,.8 );
    	    margin: 0 0 0 -.2em;
          }
        }
      }
    }

  /* main-contnt */
    #main-content.schedule {
      margin-top: 60px;
      padding-bottom: 0px;
      position: relative;
      background: none;
      .row;
      br.clear { display: none; }
      h2 {
        display: none;
      }
      #main-table {
        width: @full-width;
        /* overflow-x:hidden; */

        #conference-rooms {
          width: 100%;   
        }

        h2 {
          display: block;
          width: 100%;
          margin: 0; padding: 0;
          font-size: 18pt;
          font-family: @font-family-specialthin;
          text-align: left;
          background: none; 
        }
        thead {
          .pageend;
          position: absolute;
          margin-top: -( @td-height * 2 ) + 2;
          padding: 0;
          width: @full-width;
          text-align:center; 
          tr {
	    float: left;
	    width: @full-width;
          }
          th {
	    float: left;
            width: @base-width;

	    font-weight: bold;
            text-align: center;
          }
          .cell-time {
	    background: none;
          }
        }
        .cell-time {
          text-align: center;
	  font-weight: bold;
          width: 50px;
          p {
            height: @base-height - 2;
            background-color:@well-bg;
            border-top: 1px solid darken(@well-bg, 7%);
            margin: 0 .2em 0 0;
            text-align: center;
          }
        }
        tbody tr:nth-child(6n+1) {
          border-top: 1px solid rgba( 255,255,255,.2 )
        }
        tr {
        }
        td {
          height: ( @base-height - 2 );
          line-height: ( @base-height - 2 );
          .event {
            /* margin-bottom: @base-margin; */
            width: @base-width;
            margin-right: @base-rightmargin;
            line-height: @line-height-base;
          }
          .event-wrapper {
            .well;
            min-height: 100%;
            padding: @base-padding; 
          }

        /* colors */
          div.event-details,
          div.event-header {
            padding-right: 5px;
            border-right: 5px solid white;
          }
          .track-default .event-details,
          .track-default .event-header {
            border-color: @track1;
          }
          .track-art-beauty .event-details,
          .track-art-beauty .event-header {
            border-color: @track2;
          }
          .track-ccc .event-details,
          .track-ccc .event-header {
            border-color: @track3;
          }
          .track-entertainment .event-details,
          .track-entertainment .event-header {
            border-color: @track4;
          }
          .track-ethics-society-politics .event-details,
          .track-ethics-society-politics .event-header {
            border-color: @track5;
          }
          .track-hardware-making .event-details,
          .track-hardware-making .event-header {
            border-color: @track6;
          }
          .track-other .event-details,
          .track-other .event-header {
            border-color: @track7;
          }
          .track-science-engineering .event-details,
          .track-science-engineering .event-header {
            border-color: @track8;
          }
          .track-security-safety .event-details,
          .track-security-safety .event-header {
            border-color: @track9;
          }
          h2 { 
            a {
	      color: @brand-primary;
            }
          }
          padding: 0;
        }

        @cell-iterations: 96;
        .cellh( @index ) when ( @index > 0 ) {
          (~"td.cell-height@{index}") {
                height: (( @base-height * ( @index )));
              .event {
                height: (( @base-height * ( @index )) - @base-margin );
              }
            }
            .cellh( @index - 1 );
        }
        .cellh( 0 ) {}
        .cellh( @cell-iterations );
      }
      table.list {
        .pagestart;
        padding-top: ( 4 * @td-height );
      }
      table ul {
        background: none;
        padding: 0;
      }
      p.release { display: none; }
    }

    #main-content {
      position: relative;
      padding-bottom: 50px;
      .pagestart;
      h2 {
        text-align: left;
        padding: 64px 5px 20px 5px;
        margin-bottom: 0;
      }
      > h3 {
        padding: 5px;
        margin: 0;
      }
      > ul {
      }
      > table.list {
        width: 100%;
      }

      #sidebar,
      #details {
        float: left;
      }
      #basic {
        width: 62%;
        float: left;
      }
      #concurrent_events {
        font-size: .8em;
      }
      > .column { 
        width: 38%;
        padding: 5px;
        .dl-horizontal dt {
          width: 80px;
        }
        dd {
          margin-left: 100px;
        } 
      }
      p.release {
        .pageend;
        width: 100%;
        height: 64px;
        position: absolute; bottom: -64px; left: 15px; 
        padding: 0; margin: 0;
        text-align: right;
        padding-right: 5px;
      }
    }

    #colorkeys {
      position: fixed;
      font-size: .8em;
      opacity: .85;
      right: 0;
      p { 
        float: left;
        margin: 0; }
      p.brand { 
        color: white; }
      ul {
        list-style: none;
        margin: 0; padding: 0;
        li {
          div { 
	    float: right;
	    padding: 0; }
	  margin: 0 .2em;
	  float: right; }
        float: right; 
      }
    }
  
